@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; text-decoration:none; outline:none; border:none; list-style:none; }
body { background:#000; font:normal 14px/18px Arial, Helvetica, sans-serif; }
.mainDiv { width:1000px; margin:0 auto; }
.clr { font-size:0; line-height:0; height:0; clear:both; }
span { color:#ef2469; }

/*------ general-section ends ------*/

/*------ top-section starts ------*/

.top { width:1000px; height:67px; margin:0 auto; padding:34px 0 0; }
.logo { width:164px; height:47px; float:left; }
.slogan { width:auto; float:left; font:normal 26px Arial, Helvetica, sans-serif; color:#a7a7a7; margin:0 0 0 93px; }
.top .rht { width:409px; float:right; color:#d1d1d1; }

/*------ top-section ends ------*/

/*------ body-section starts ------*/

.content { height:711px; background:#d1d1d1; }
.content .bg { height:711px; background:url(../images/lady_bg.jpg) no-repeat; }
.frmRht { width:445px; float:right; margin:30px 0 0; }
.frmRht .frm { width:435px; float:left; background:#fff; padding:18px 0 8px; margin:0 0 25px; border:1px solid #d1d1d1; border-radius:10px; -moz-border-radius:10px; }
.frmRht .frm .hdr { height:62px; border-bottom:1px solid #95969d; margin:0 0 14px; text-align:center; }
.frmRht .frm .hdr .fst { font:normal 28px Arial, Helvetica, sans-serif; text-transform:uppercase; }
.frmRht .frm .hdr .snd { font:normal 15px Arial, Helvetica, sans-serif; text-transform:uppercase; }
.frmRht h2 { font:normal 24px/30px Arial, Helvetica, sans-serif; text-transform:uppercase; margin:0 0 10px; }
.form { width:380px; margin:0 auto; }
.form li { width:100%; float:left; margin:0 0 12px; }
.form label { width:110px; float:left; padding:0 10px 0 0; }
.form input[type="text"], .form input[type="password"] { width:240px; height:22px; float:left; border:1px solid #707070; padding:0 5px; }
.form select { width:250px; height:25px; float:left; border:1px solid #707070; }
.form .sub li { width:auto; float:left; margin:0 5px 0 0; }
.form .sub input[type="text"] { width:68px; float:left; }
.form .chk { padding:0 0 0 120px; }
.form .chk input[type="checkbox"], .form .chk p { width:auto; float:left; margin:0 10px 0 0; }
.form .chk a { color:inherit; text-decoration:underline; }
.form .chk a:hover { text-decoration:none; }
.form .btn { width:175px; height:46px; float:left; color:#fff; font-size:24px; background:url(../images/submit-btn_bg.png) repeat-x #ed2368; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; margin:0 0 0 122px; cursor:pointer; }
.gals { width:auto; margin:0 0 10px; }
.gals li { width:auto; float:left; margin:0 8px 0 0; }
.ftrPara { font:bold 14px/20px Arial, Helvetica, sans-serif; }

/*------ body-section ends ------*/

/*------ footer-section starts ------*/

.footer { width:800px; height:55px; margin:0 auto; padding:18px 0 0; text-align:center; color:#fff; }
.footer a { color:#fff; padding:0 10px; }
.footer a:hover { color:#f7256d; }

/*------ footer-section ends ------*/