@charset "utf-8";
/* CSS Document */

@font-face {
    font-family:'AgencyFBBold';
    src: url('agencyb.eot');
    src: url('agencyb.eot') format('embedded-opentype'),
         url('agencyb.woff') format('woff'),
         url('agencyb.ttf') format('truetype'),
         url('agencyb.svg#AgencyFBBold') format('svg');
}


@font-face {
    font-family:'AgencyFBRegular';
    src: url('agencyr.eot');
    src: url('agencyr.eot') format('embedded-opentype'),
         url('agencyr.woff') format('woff'),
         url('agencyr.ttf') format('truetype'),
         url('agencyr.svg#AgencyFBRegular') format('svg');
}


@font-face {
    font-family:'RockwellCondensedRegular';
    src: url('rocc.eot');
    src: url('rocc.eot') format('embedded-opentype'),
         url('rocc.woff') format('woff'),
         url('rocc.ttf') format('truetype'),
         url('rocc.svg#RockwellCondensedRegular') format('svg');
}
